.myname {
    font-family: Montserrat;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    color: black;
} 


.title {
    font-family: Oswald;
    font-size: 75px;
    text-transform: uppercase;
    color: #5a5d63;
    font-weight: 300;
}

.bar {
    font-family: Montserrat;
    text-transform: uppercase;
    color: black;
}



table {
    width: 100%;
}

td {
    padding: 20px;
}


.project {
    font-family: Oswald;
    color: #5a5d63;
    text-transform: uppercase;
}
.date {
    font-family: Oswald;
    color: #5a5d63;
    text-transform: uppercase;

}
.class {
    font-family: Oswald;
    color: #5a5d63;
    text-transform: uppercase;
    padding: 250px 0;
	margin: 30px;
}

/*.update_home {
    padding: 350px 0;
	margin: 50px;
    background-image: url("https://i.pinimg.com/originals/05/af/01/05af016a374eee9221b5bbc0314e33f2.jpg");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
    color: white;
}*/

/* Above is an update I tried to do, but i didn't like the way it turned out.
I may continue working on this later.*/
